
/*8 margin in chrome dev tool - predefined dimensions - to remove, use CSS Reset*/

/*CSS RESET
a way for devs to remove any predefined margins and padding set by the browser, this is to have less hassle in managing space that will be used for the layout of the webpage*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Using Google font "Open Sans" for styling the body texts*/

body{
	font-family: "Open Sans", sans-serif;
}

/* *****NAV SECTION***** */

nav{

	/*
	padding - space between the content of the element and its border
	padding is a shorthand for padding-top, padding-bottom, padding-left, and padding-right
		padding-top: .8rem
		padding-bottomg: .8rem
		padding-left: .8rem
		padding-right: .8rem

	margin - space between the elements and outside their border
		*/
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid blue;
	list-style-type: none;
}

	/*
		if you want to increase/decrease the space of the content of the border, manage the padding

		if you want to manage the spacing in between the elements, increase/decrease the margin of the  elements
	*/


	/*
		We can also select multiple combination with the use of comma (,)
	*/

nav .nav, nav .nav-logo{
	/*
		creates space around the element but outside its border
	*/
	margin: .5rem;
	/*
		li are naturally block elements, but with the use of display: inline;, we were able to transform the li elements to become inline so that they will be displayed beside each other.
	*/
	display: inline;
}

#intro{
	/* padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem; */
	text-align: center;
	padding: 2rem 10% 3rem;

	/*
		when we have different measurements for each side, the measurement for each side can be used.

		padding-left, padding-right, padding-top, padding-bottom

		% value is used for padding/margin to use the relative measurements of the screen

		shorthand for padding with the same right and left measurement
			padding: 2rem 10% 3rem;
			"padding: top left right bottom"
	*/
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: ghostwhite;
	/*
		font-weight - is used to change the thickness of the text of the element
	*/
	font-weight: bolder;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*
		to create space and to make the button bigger. To make content "apply now" more noticeable
	*/
	padding: 1rem;
}

/* ****SUCCEED INFO******** */

#succeed-info{
	/*
		using shorthand for the same measurement as the #intro
	*/
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	/*
		to create space between the header and the card
	*/
	margin-bottom: 1rem;
}

#succeed-info h3{
	/*
		creates space between the h3 and the p element in each card
	*/
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	/*
		inline-block - allows the cards to appear next to each other

		inline - consuming only the content width of the element
		block - consuming the full width of the webpage regardless of the content width 

		inline-block - works as inline for its siblings, but works as block element for the elements outsides its parent
	*/
	vertical-align: top;
	vertical-align: text-top;
	min-height: 175px;
	/*
		set the min height in case the content does not fit the card
	*/
	margin-left: .5rem;
	margin-right: .5rem;
	width: 30%;
	/*
		% - usage of screen size
	*/

}



/* *****FOOTER SECTION**** */

footer{
	padding: .7rem;
}

footer span{
	/*margin-bottom: .5rem;
	margin-right: .5rem;*/
	margin-bottom: 0 .5rem;
	/*shorthand:  margin: 0 .5rem | margin: top bottom*/
}