
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: "Open Sans", sans-serif;
}

/* *****NAV SECTION***** */

nav{	
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid blue;
	list-style-type: none;
}

	

nav .nav, nav .nav-logo{
	
	margin: .5rem;
	display: inline;
}

#intro{
	text-align: center;
	padding: 2rem 10% 3rem;
}
	
.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: ghostwhite;
	font-weight: bolder;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/* ****SUCCEED INFO******** */

#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	vertical-align: text-top;
	min-height: 175px;
	margin-left: .5rem;
	margin-right: .1rem;
	width: 30%;
}



/* *****FOOTER SECTION**** */

footer{
	padding: .7rem;
}

footer span{
	margin-bottom: 0 .5rem;
}


/* ***PREFOOTER SECTION*** */

#pre-footer{
	margin: .5rem .5rem;
	padding: .5rem .5rem .5rem .1rem;
	min-width: 300px;
	background-color: #002540;
	color: whitesmoke;
	font-size: 1rem;
}

#pre-footer div{
	display: inline-block;
	vertical-align: text-top;
	vertical-align: top;
	min-height: 50px;
	margin-left: .5rem;
	margin-right: .1rem;
	width: 200px;
}

#pre-footer h3{
	min-width: 300px;
	margin: 0 .5rem;
	padding-bottom: .5rem;
	padding-top: .5rem;
}

#pre-footer p{
	font-size: 14px;
	width: 300px;
	margin: 0 .5rem;
}

